
<div *ngIf="dataloaded==false" class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>

<table *ngIf="dataloaded==true" class="table">
    <tr >
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Category ID</th>
        <th>Unit Price</th>
        <th>Units In Stock</th>
    </tr>
    <tr *ngFor="let product of products">

        <td>{{product.productId}}</td>
        <td>{{product.productName}}</td>
        <td>{{product.categoryId}}</td>
        <td>{{product.unitPrice}}</td>
        <td>{{product.unitsInStock}}</td>
    </tr>
</table>

